---
import Layout from "../layouts/Layout.astro";
---


<Layout title="Nie odnaleziono strony | Teplix">
    <section class="flex flex-col justify-center items-center gap-16 my-40">
        <h1 class="text-4xl">Błąd 404. Nie odnaleziono strony!</h1>
        <a href="/" class="text-xl font-bold text-[#583BD1] hover:text-[#583BD1]/50 ">Powrót do Strony Głównej</a>
    </section>
</Layout>