---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Strona Główna | Teplix">
	<div class="bgImage">
		<div class="w-full h-full flex flex-col items-start justify-center bg-black/40">
			<h1 class="text-white text-6xl font-bold ml-[6vw]">Rozwiązania, które ogrzeją rodzinną atmosferę.</h1>
			<p class="text-white text-xl font-medium mt-4 ml-[6vw]">Ciepło, niskie rachunki za prąd, poczucie bezpieczeństwa - Greensail to gwarancja solidnej innowacyjności dla Twojego domu i biznesu.</p>
		</div>
	</div>
	<div class="mt-[48.96vw] z-40">
		<h1 class="text-8xl text-center p-12">Strona Główna</h1>
	</div>
</Layout>


<style>
	.bgImage {
		background-image: url("/family-slider-bg.jpg");
		background-repeat: no-repeat;
		background-size: cover;
  		background-position: center;
		position: absolute;
		height: 48.96vw;
		min-width: 99.1vw;
		margin: 0 auto;
	}
</style>


