---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Kontakt | Teplix">
    <div class="m-8 p-8">
        <h1 class="uppercase text-6xl ml-12 mb-8 mt-4 font-semibold">Kontakt</h1>
        <div class="flex justify-between  mt-10 mx-[5%] text-lg">
            <div>
                <p>Dyrektor ds.Sprzedaży</p>
                <p class="font-bold">Jan Stefański</p>
                <p class="mt-6">Mail: <a class="text-primary hover:text-primary/50 underline font-bold" href="mailto:j.stefanski@inneftech.pl">j.stefanski@inneftech.pl</a></p>
                <p class="mt-6">Tel: <a class="text-primary hover:text-primary/50 underline font-bold" href="tel:+48534454739">+48 534 454 739</a></p>
            </div>
            <div>
                <p class="font-bold">Dział Serwisu</p>
                <p class="mt-6">Tel: <a class="text-primary hover:text-primary/50 underline font-bold" href="tel:+48576778058">+48 576 778 058</a></p>
            </div>
            <div>
                <p>CEO</p>
                <p class="font-bold">Wiktor Woźniak</p>
                <p class="mt-6">Mail: <a class="text-primary hover:text-primary/50 underline font-bold" href="mailto:biuro@inneftech.pl">biuro@inneftech.pl</a></p>
            </div>
            <div>
                <p>Dyrektor Finansowy</p>
                <p class="font-bold">Radosław Ostrowski</p>
                <p class="mt-6">Mail: <a class="text-primary hover:text-primary/50 underline font-bold" href="mailto:r.ostrowski@inneftech.pl">r.ostrowski@inneftech.pl</a></p>
                <p class="mt-6">Tel: <a class="text-primary hover:text-primary/50 underline font-bold" href="tel:+48729871223">+48 729 871 223</a></p>
            </div>
        </div>
    </div>
</Layout>