---
import Layout from "../layouts/Layout.astro";

---


<Layout title="QRCODE | Grzejnikiprozniowe.pl">
   <main class="w-full h-full bg-slate-900/80">
    <h1 class="text-center text-4xl text-white p-4 pt-8">QrCode grzejnikiprozniowe.pl</h1>
        <img class="mx-auto mt-24" src="/qrcode.jpg" alt="qrcode">
   </main>
</Layout>